{% extends "base.html" %}

{% block styles %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block content %}

    {% if Recipe %}
    <h3 class="red-text text-darken-4 center-align">Edit Recipe</h3>
    {% else %}
    <h3 class="red-text text-darken-4 center-align">Add Recipe</h3>
    {% endif %}

    <div class="row card-panel green lighten-5">
        <form class="col s12"  method="POST" action="" id="submitRec" enctype="multipart/form-data">
           <!-- Recipe Name -->
           <div class="row">
              <div class="input-field col s12">
                 <i class="material-icons prefix"></i>
                <textarea id="Name" name="Name" class="materialize-textarea">
                         {% if Recipe.Name %}{{ Recipe.Name }}{% endif %}
                </textarea>

                 <label for="Recipe_name">Recipe Name</label>
              </div>
              <!-- Image -->
              <div class="file-field input-field col s12">
                 <div class="btn">
                    <span>File</span>
                    <input type="file" name="image">
                 </div>
                 <div class="file-path-wrapper">
                    <input class="file-path validate" name="image"  type="text">
                 </div>
              </div>
              <!-- Description -->
              <div class="row">
                 <div class="input-field col s12">
                    <i class="material-icons prefix"></i>
                    <textarea id="Description" name="Description" class="materialize-textarea">
                         {% if Recipe.Description %}{{ Recipe.Description }}{% endif %}
                    </textarea>
                    <label for="Recipe_name">Description</label>
                 </div>
                 <!-- Cooking Time -->
              </div>
              <div class="input-field col s4">
                 <i class="material-icons prefix"></i>
                 <input id="Prep Time" name="Prep_time" type="text" class="validate"  value="{% if Recipe.Prep_time %}{{ Recipe.Prep_time }}{% endif %}">
                 <label for="icon_prefix">Prep Time</label>
              </div>
              <div class="input-field col s4">
                 <i class="material-icons prefix"></i>
                 <input id="Cook Time" name="Cook_time" type="text" class="validate"  value="{% if Recipe.Cook_time %}{{ Recipe.Cook_time }}{% endif %}">
                 <label for="icon_telephone">Cook Time</label>
              </div>
              <div class="input-field col s4">
                 <i class="material-icons prefix"></i>
                 <input id="Total Time" name="Total_time" type="text" class="validate"  value="{% if Recipe.Total_time %}{{ Recipe.Total_time }}{% endif %}">
                 <label for="icon_telephone">Total Time</label>
              </div>
              <!-- Ingredients -->
              <div class="row">
                 <label for="textarea1">Ingredients</label>
                 <div class="input-field col s12">
                    <div id="quillAreaIngredients"></div>
                    <input id="Ingredients" name="Ingredients" type="hidden" value="{% if Recipe.Ingredients %}{{ Recipe.Ingredients }}{% endif %}">
                 </div>
              </div>
              <!-- Instructions -->
              <div class="row">
                 <label for="textarea1">Instructions</label>
                 <div class="input-field col s12">
                    <div id="quillAreaInstructions"></div>
                    <input id="Instructions" name="Instructions" type="hidden"  value="{% if Recipe.Instructions %}{{ Recipe.Instructions }}{% endif %}">
                 </div>
              </div>
              <!-- submit button -->
              <div class="row">
                 <div class="col s12 center-align">
                    <button type="submit" class="btn-large red darken-3 text-shadow">
                    Save <i></i>
                    </button>
                 </div>
              </div>
        </form>
    </div>

{% endblock %}

