{% extends "base.html" %}
{% block content %}



<div id="home_image">
  <img src="{{ url_for('static', filename='css/images/cake6.jpg')}}" alt="homepage"
    style=" background-size: cover; background-repeat: no-repeat; background-position: center center; width: 100%; 
    height: 100vh; position: relative; display:block;">
</div>


<div id="home_message">
  <h3>Manage your favorite cakes recipes online.</h3>
  <h5>Build your cookbook and share your recipes with others.</h5>



</div>

<div id="home_button">
  <a class="waves-effect waves-light btn-large green lighten-2" href="{{ url_for('register') }}">Try it for free!</a>
</div>




{% endblock %}