{% extends "base.html" %}

{% block content %}

  <div class="container"> 
<div class="row" id="get_recipe">
  {% for item in Recipe%}
  <div class="col s12 m12 container">
    <div class="card  green lighten-5" id="recipes_content">
      {% if item.Image %}
      <div class="card-image">
        <img src="../static/media/{{ item.Image }}">
      </div>
      {% endif %}
      <div class="card-content">
        <h5> {{ item.Name }}</h5>
        <p>{{  item.Description }} </p>

        <p>
          {% if item.created_by %}
          <em>By: {{ item.created_by }}</em>
          {% else %}
          <em>By: {{ item.Added_by }}</em>
          {% endif %}
        </p>


      </div>
      <a class="waves-effect waves-light btn-small green" href="/recipe/{{ item._id }}">See Recipe</a>
      {% if session["user"] %}
      {% if item.created_by == session["user"] or item.Added_by == session["user"] %}
      <a class="waves-effect waves-light btn-small" href="/edit-recipe/{{ item._id }}">Edit</a>
      <button class="waves-effect waves-light btn-small red" onclick="deleteRecipe('{{ item._id }}')">Delete</button>
      {% endif %}

      {% endif %}
    </div>
  </div>
</div>
</div>


<div>

  {% endfor %}
</div>



{% endblock %}


<!-- {% block scripts %}
<script>
    function deleteRecipe(id){
        var confirm = window.confirm("Delete?")
        if(confirm){
            window.location.href = `/delete-recipe/${id}`;
        }
    }
</script> 
{% endblock %}