{% extends "base.html" %}
{% block content %}

    <h2>I'm extending the base template!</h2>
      <!--{% for item in Receipt%}
        {{ item.Name }}<br>
        {{ item.Prep_time }}<br>
        {{ item.Cook_time }}<br>
        {{ item.Total_time }}<br>
        {{ item.Image }}<br>
        {{ item.Ratings }}<br>
        {{ item.Description }}<br>
        {{ item.Ingredients }}<br>
        {{ item.Instructions }}<br>
    {% endfor %}-->



    <div>
   
                 <div class="card-content">
                      <p>{{ item.Description }} </p>
                      <p>  {{ item.Prep_time }} </p>
                      <p>{{ item.Cook_time }} </p>
                      <p>  {{ item.Total_time }} </p>
                      <p>{{ item.Description }} </p>
                      <p>  {{ item.Ingredients }} </p>
                      <p>  {{ item.Instructions }} </p>
                    </div>
                    <div>
                      <p><em>by: {{ item.Added_by }}</em></p>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
                     

{% endblock %}

