
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    {% for item in Receipt%}
        {{ item.Title }}<br>
        {{ item.Prep_time }}<br>
        {{ item.Cook_time }}<br>
        {{ item.Total_time }}<br>
        {{ item.Image }}<br>
        {{ item.Ratings }}<br>
        {{ item.Description }}<br>
        {{ item.Ingredients }}<br>
        {{ item.Instructions }}<br>
    {% endfor %}
</body>
</html>